<main class = "w-100 h-100">

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to "MatchBall", root_path,class:"display-8 navbar-brand fs-1" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end"  id="navbarNav">
            <% if user_signed_in?%>
              <ul class="navbar-nav">
                <li class="nav-item" >
                 <%= link_to "ユーザー名：#{current_user.name}", root_path,class:"display-8" %>
                </li>
                <li class="nav-item" >
                  <%= link_to "試合一覧を確認", matches_path,class:"display-8" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ルーム戦を作成する", new_match_path ,class:"display-8"%>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path ,method: :delete,class:"display-8"%>
                </li>
              </ul>
            <% else %>
              <ul class="navbar-nav ">
                <li class="nav-item">
                  <%= link_to "試合一覧を確認", matches_path,class:"display-8"%>
                </li>
                <li class="nav-item">
                  <%= link_to "ルーム戦を作成する", new_match_path ,class:"display-8"%>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path ,class:"display-8"%>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path ,class:"display-8"%>
                </li>
              </ul>
            <% end %>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <p class="mt-5 fs-2">ようこそ！MatchBallへ！</p>
    <p class="mt-4 fs-4">プロスピAのルーム戦のマッチングをお手伝いします！</p>
  </div>
</main>
